/* Variables */

:root {
    /* 1280 x 720 */
    --responsive-height: 0.07813vw;
    --responsive-height: 0.13889vh;
}

/* Normalize */

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.light {
    background-color: #f0d9b5;
}
.dark {
    background-color: #b58863;
}

/* Board Section */

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-rows: calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height));
    grid-template-columns: calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)) calc(81.25 * var(--responsive-height)); 
}

.board__square {
    content: '';
}

.board__square i {
    font-size: calc(45 * var(--responsive-height));
}